<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h1> Your Result </h1>
      <p>your word: <%= @attempt %></p>
      <p>your grid: <%= @grid_sent %></p>
      <p>your time: <%= "#{@time.round} sec" %></p>
      <p>your score: <%= @score %></p>
      <p>your message: <%= @message %></p>
      <%= link_to "Play again", game_path %>
    </div>
  </div>
</div>
